In [5]:
# Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv("../datasets/Car_price.csv")
df.head()

     Brand  Force  Year  EngineV  Price_euro
0     Audi   3.58  2000     0.60        3800
1      BMW   4.59  2015     0.65       38888
2   Toyota   4.07  2016     1.00       11708
3   Toyota   4.02  2016     1.00       10500
4  Renault   4.10  2014     1.00       12650