In [4]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from mlxtend) (1.13.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from mlxtend) (1.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\park\desktop\ml-a-z\.conda\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [5]:
#Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori, association_rules

In [6]:
data = pd.read_csv('../datasets/groceries - groceries.csv')
data.head()

,Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,Item 10,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Convert the dataset into a list of lists (each list is a transaction)
transactions = data.astype(str).values.tolist()

In [8]:
# Create a list of unique items
items = sorted(list(set(item for sublist in transactions for item in sublist if item != 'nan')))

In [9]:
# Create a DataFrame where each column is an item and each row is a transaction (one-hot encoded)
encoded_data = pd.DataFrame([[item in transaction for item in items] for transaction in transactions], columns=items)

In [10]:
# Apply the Apriori algorithm to find frequent itemsets
frequent_itemsets = apriori(encoded_data, min_support=0.01, use_colnames=True)

In [11]:
# Generate association rules from the frequent itemsets
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

In [12]:
# Display the results
from IPython.display import display

print("Frequent Itemsets:")
display(frequent_itemsets.head())

Frequent Itemsets:

    support         itemsets
0  0.033452       (UHT-milk)
1  0.017692  (baking powder)
2  0.052466           (beef)
3  0.033249        (berries)
4  0.026029      (beverages)

In [14]:
print("\nAssociation Rules:")
display(rules.head())

Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(other vegetables),(beef),0.193493,0.052466,0.019725,0.101944,1.943066,0.009574,1.055095,0.601792
1,(beef),(other vegetables),0.052466,0.193493,0.019725,0.375969,1.943066,0.009574,1.292416,0.512224
2,(rolls/buns),(beef),0.183935,0.052466,0.013625,0.074074,1.411858,0.003975,1.023337,0.357463
3,(beef),(rolls/buns),0.052466,0.183935,0.013625,0.259690,1.411858,0.003975,1.102329,0.307866
4,(root vegetables),(beef),0.108998,0.052466,0.017387,0.159515,3.040367,0.011668,1.127366,0.753189